<nav class="be-navbar sticky-top navbar navbar-expand-lg bg-body-tertiary navbar-js">
    <div class="px-5 w-100 d-flex justify-content-between align-items-center">
        <a class="navbar-brand " href="/">
            <img class="be-img-navbar" src="{{ asset('build/images/logo-allonge.png') }}" alt="Mon image">
        </a>
        <div class="be-search-navbar px-3 hidden-navbar">
            {{ render(controller(
                'App\\Controller\\SearchBarController::search',
            )) }}
        </div>
        <div class="d-flex align-items-center">
            <ul class="navbar-nav">
                {% if not app.user %}
                    <li class="nav-item dropdown mx-3">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Accès recruteur
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/login">Connexion</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/register/company">Inscription</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') and not is_granted('ROLE_COMPANY') %}
                    <li class="nav-item dropdown mx-3">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Emploi
                        </a>
                        <ul class="dropdown-menu">

                            <li>
                                <a class="dropdown-item" href="{{ path('app_user_favlist', {'id': app.user.id}) }}">
                                    Mes favoris
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_user_candidatures', {'id': app.user.id}) }}">
                                    Mes candidatures
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_user_search', {'id': app.user.id}) }}">
                                    Mes recherches
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}

            </ul>
            {% if app.user %}
                <a href="/logout" class="href">
                    <button class="be-secondary-button mx-3">Déconnexion</button>
                </a>
            {% else %}
                <a href="/login" class="href">
                    <button class="be-secondary-button mx-3">Connexion</button>
                </a>
            {% endif %}
            {% if not app.user %}
                <a href="/register" class="href">
                    <button class="be-secondary-button mx-3">Inscription</button>
                </a>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                {% if is_granted('ROLE_COMPANY') and app.user.company.id is defined %}
                    {# L'utilisateur a à la fois le rôle User et Company #}
                    <a href="{{ path('app_company_show', {id: app.user.company.id}) }}" class="href">
                        <button class="be-secondary-button mx-3">Mon profil</button>
                    </a>
                {% else %}
                    {# L'utilisateur a uniquement le rôle User #}
                    <a href="{{ path('app_user_show', {id: app.user.id}) }}" class="href">
                        <button class="be-secondary-button mx-3">Mon profil</button>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</nav>
<script src="https://kit.fontawesome.com/a0c2e45aa1.js" crossorigin="anonymous"></script>
