<div class="be-logo-partners">
    <h2 class="be-h2">Ils nous font <span>confiance</span></h2>
    <div>
        <img src="{{ asset("build/images/partnerCompaniesLogo/lucca-logo.png") }}" alt="Logo Lucca">
        <img src="{{ asset("build/images/partnerCompaniesLogo/akeneo-logo.png") }}" alt="Logo Akeneo">
        <img src="{{ asset("build/images/partnerCompaniesLogo/allovoisins-logo.png") }}" alt="Logo Allovoisins">
        <img src="{{ asset("build/images/partnerCompaniesLogo/decathtech-logo.png") }}" alt="Logo Décathlon technology">
        <img src="{{ asset("build/images/partnerCompaniesLogo/uiris-logo.png") }}" alt="Logo U iris">
        <img src="{{ asset("build/images/partnerCompaniesLogo/nickel-logo.png") }}" alt="Logo Nickel">
        <img src="{{ asset("build/images/partnerCompaniesLogo/ikks-logo.png") }}" alt="Logo IKKS">
        <img src="{{ asset("build/images/partnerCompaniesLogo/maisondumonde-logo.png") }}" alt="Logo Maison du monde">
    </div>
</div>
