{% extends 'base.html.twig' %}

{% block title %}Créer son compte Entreprise{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="be-form row g-3">
        <h2 class="be-h2">Créer son compte Entreprise</h2>
        {{ form_start(registrationForm) }}
        <h3>Information de l'entreprise</h3>
        {{ form_row(registrationForm.company.name) }}
        {{ form_row(registrationForm.company.siret) }}
        {{ form_row(registrationForm.company.city) }}
        {{ form_row(registrationForm.company.phone) }}
        {{ form_row(registrationForm.company.logo) }}
        <h3>Information du représentant légal de l'entreprise</h3>
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" class="btn btn-primary">Créer son compte</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
