{% extends 'base.html.twig' %}

{% block title %}CV{% endblock %}

{% block body %}
    <div class="d-flex m-4">
        <a class="be-secondary-button" href="{{ path('app_user_show', {'id': app.user.id} ) }}">Retour au profil</a>
    </div>
    <h2 class="be-h2 text-center">Mes <span>CV</span></h2>
    <div class="d-flex justify-content-center">
        <a class="btn be-primary-button mb-5" href="{{ path('app_resume_new') }}">Ajouter un CV</a>
    </div>
    <div class="col-6 m-auto">
        <table class="table">
            <tbody>
                {% for resume in resumes %}
                <tr>
                    <td class="col-8">{{ resume.name }}</td>
                    <td><a target="_blank" href="{{ path('app_resume_read', {'id': resume.id}) }}">Voir</a></td>
                    <td class="pt-0">{{ include('resume/_delete_form.html.twig') }}</td>
                </tr>
                {% else %}
                    <td>Vous n'avez pas encore de CV enregistré.</td>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
