{% extends 'base.html.twig' %}

{% block title %}CV{% endblock %}

{% block body %}
    <h1>CV</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resume.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ resume.name }}</td>
            </tr>
            <tr>
                <th>Chemin</th>
                <td>{{ resume.path }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_resume_index') }}">Retour à la liste</a>

    <a href="{{ path('app_resume_edit', {'id': resume.id}) }}">Modifier</a>

    {{ include('resume/_delete_form.html.twig') }}
{% endblock %}
