{% extends 'base.html.twig' %}

{% block title %}Salaires{% endblock %}

{% block body %}
    <h1>Salaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Min</th>
                <th>Max</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salary in salaries %}
            <tr>
                <td>{{ salary.id }}</td>
                <td>{{ salary.min }}</td>
                <td>{{ salary.max }}</td>
                <td>
                    <a href="{{ path('app_salary_show', {'id': salary.id}) }}">Voir</a>
                    <a href="{{ path('app_salary_edit', {'id': salary.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_salary_new') }}">Créer nouveau</a>
{% endblock %}
