{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}

<div class="container m-auto d-flex justify-content-around align-items-center my-5">
    <div class="row">
        {#Group 1#}
        <div class="col-lg-4 col-12 order-md-last align-items-center d-flex flex-column">
            <div class="card example-wrapper be-card-candidate mb-4" style="width: 20rem; height: 21rem;">
                <div class="card-body be-card-candidat">
                    <h5 class="card-title">Bonjour {{ company.name }}</h5>
                    <p class="be-maj">Mise à jour : {{ currentDateTime }}</p>
                    <p class="card-text">
                        Lieu de résidence :
                        {% if company.city %} {{ company.city }}
                        {% else %}
                        Non renseigné
                        {% endif %}
                    </p>
                    <p class="class card-text">Contact : {{ company.phone }} </p>
                    <p class="card-text">Numéro de siret : {{company.siret}} </p>
                    <p class="card-text">
                        Statut :
                        {% if app.user.status %} {{ app.user.status }}
                        {% else %}
                        Non renseigné
                        {% endif %}
                    </p>
                    <div class="be-log-out position-absolute bottom-0 end-0 my-2 mx-2">
                        <a href="/logout">Déconnexion
                            <i class="fa-solid fa-right-from-bracket fa-2xl WS-header" class="btn btn-primary btn2"
                                type="button" style="color: #04380a;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {#Group 2#}
        <div class="col-lg-4 col-12 align-items-center d-flex flex-column justify-content-strat">
            <a href="{{ path('app_company_offers', {'id': company.id}) }}">
            <div class="card example-wrapper be-card-search mb-4" style="width: 20rem; height: 10rem; ">
                <div class="card-body">
                    <i class="fa-solid fa-magnifying-glass-plus fa-2xl" style="color: #ffffff;"></i>
                    <h5 class="card-title">Mes offres</h5>
                    <h6 class="card-subtitle mb-2 text-muted be-test">
                        Je modifie ou efface mes offre mise en ligne
                    </h6>
                </div>
            </div>
            </a>
            <div class="card example-wrapper be-card-situation mb-4" style="width: 20rem; height: 10rem">
                <a href="{{ path('app_company_show_candidate', {'id': app.user.id}) }}">
                    <div class="card-body">
                        <i class="fa-solid fa-address-book fa-2xl" style="color: #ffffff;"></i>
                        <h5 class="card-title text-dark">Mes candidats</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            J'accède aux candidats qui on postuler a mes offres
                        </h6>
                    </div></a>
            </div>
        </div>
        {#Group 3#}
        <div class="col-lg-4 col-12 align-items-center d-flex flex-column justify-content-strat">
            <a href="{{ path('app_company_edit', {'id': app.user.id}) }}">
                <div class="card example-wrapper be-card-resume mb-4" style="width: 20rem; height: 10rem">
                    <div class="card-body">
                        <i class="fa-solid fa-bookmark fa-2xl" style="color: #ffffff;"></i>
                        <h5 class="card-title">Mes informations d'entreprise</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Accéder à ma liste d'offres favorites
                        </h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{# {{ include('user/_delete_form.html.twig') }} #}
{% endblock %}
