{% extends 'base.html.twig' %}

{% block title %}Nouvelle offre d'emploi{% endblock %}

{% block body %}
    <div class="be-form row g-3 col-7">
        <div class="d-flex m-4">
            <a class="be-secondary-button " href="{{ app.request.headers.get('referer') }}">Retour à la page précédente</a>
        </div>
        <h1 class="be-h2 text-center">Création d'une nouvelle offre</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row px-4">
            <div class="col-md-6">
                {{ form_row(form.title) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.city) }}
            </div>
        </div>
        <div class="row px-4">
            <div class="col-md-6">
                {{ form_row(form.job) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.contract) }}
            </div>
        </div>
        <div class="row px-4">
            <div class="col-md-6">
                {{ form_row(form.salaryMin) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.salaryMax) }}
            </div>
        </div>
        <div class="col-12 px-4">
            {{ form_row(form.company) }}
        </div>
        <div class="col-12 px-4" >
            {{ form_row(form.description) }}
        </div>
        <div class="text-center my-4">
            <button class="be-primary-button" type="submit">Valider</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
