{% extends 'base.html.twig' %}


{% block title %}Joboffer{% endblock %}

{% block body %}
    <div class="m-auto be-banner-offer d-flex justify-content-center position-md-relative ">
        {% if is_granted('ROLE_USER') and not is_granted('ROLE_COMPANY') %}
        <div class="position-absolute top-0 end-0 mt-2 mt-md-1 me-1"><a id="favlist" href="{{ path('app_joboffer_favlist', {id: joboffer.id}) }}">
            <i class="fa-2x bi {{ app.user.isInFavlist(joboffer) ? 'bi-bookmark-x-fill text-light' : 'bi-bookmark-plus text-light' }}"></i>
            </a></div>
        {% endif %}
        {#  <img class="img-responsive be-img-UniqueOffer" src="{{ asset('build/images/Bordeaux_job.jpg') }}" alt="">#}
        <div class="bg-transparent border border-0 w-auto h-100 card d-inline-flex align-items-center justify-content-center">
            <h5 class="text-white fs-3 card-title">{{ joboffer.contract.type }}</h5>
            <p class="text-white fw-bold fs-1 card-text">{{ joboffer.job.name }}</p>
            <div class="text-white fs-5 fw-bold d-lg-none  ">{{ joboffer.company.name }}</div>
            <p class="pt-2 text-white fs-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-geo-alt"
                     viewBox="0 0 16 16">
                    <path
                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg> {{ joboffer.city }}</p>
            {% if app.user and not is_granted('ROLE_COMPANY') %}
                <a href="#be-apply-form" class="fs-5 be-apply-button ">Postuler</a>
            {% endif %}
             <div class=" be-card-joboffer position-absolute d-none d-sm-none d-md-none d-lg-block ">
                <div class="w-auto fs-5 fw-bold be-cardText-jobofferCompany ">{{ joboffer.company.name }}</div>
             </div>
        </div>
    </div>
<div class="d-none d-lg-block container-fluid my-5">
    <div class="row justify-content-around">
    <img src= "{{ asset('build/images/GourpWork2.jpg') }}" class="w-25 be-pictureStyle " alt="Groupe1">
    <img src="{{ asset('build/images/GourpWork4.jpg') }}" class="w-25 be-pictureStyle " alt="Groupe2">
    <img src="{{ asset('build/images/GroupWork.jpg') }}" class="w-25 be-pictureStyle " alt="Groupe3">
    </div>
</div>

    <div class="container-fluid my-5">

        <div class="d-flex justify-content-end">

        </div>
    <h5 class="text-black fs-3">{{ joboffer.company.name }} recherche:</h5>
    <p class="text-black fs-4">{{ joboffer.description }}</p>
    </div>
    <div class="d-none d-lg-block container-fluid text-center my-5 ">
        <img src= "{{ asset('build/images/HommeWork.jpg') }}" class="be-pictureSize be-pictureStyle" alt="Homework">

    </div>
    <div class="container-fluid">
        <h5 class="text-black fs-3">Vous êtes:</h5>
        <p class="text-black fs-4">{{ joboffer.description }}</p>
    </div>
     {% if is_granted('ROLE_COMPANY')  %}
    <div class="container-fluid d-flex justify-content-center mt-5 fs-4">
    <a class="be-primary-button btn me-4" href="{{ path('app_joboffer_edit', {'id': joboffer.id}) }}">Edit</a>
        {{ include('joboffer/_delete_form.html.twig') }}
    </div>
    {% endif %}




    {#  <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ joboffer.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ joboffer.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ joboffer.description }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ joboffer.city }}</td>
        </tr>
        <tr>
            <th>CreatedAt</th>
            <td>{{ joboffer.createdAt ? joboffer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>UpdatedAt</th>
            <td>{{ joboffer.updatedAt ? joboffer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Company</th>
            <td>{{ joboffer.company.name }}</td>
        </tr>
        <tr>
            <th>Job</th>
            <td>{{ joboffer.job.name}}</td>
        </tr>
        <tr>
            <th>Contract</th>
            <td>{{ joboffer.contract.type }}</td>
        </tr>
        <tr>
            <th>Salary : min / max</th>
            <td>{{ joboffer.salary.min }} / {{ joboffer.salary.max }}</td>
        </tr>
        </tbody>
<<<<<<< HEAD
    </table>#}
<div class="container-fluid">
    {% if is_granted('ROLE_USER') and not is_granted('ROLE_COMPANY') %}
        <div class="be-form row g-3 col-7" id="be-apply-form">
            <h2 class="be-h2 fs-1">Cette offre t'intéresse ?</h2>
            <h2 class="be-h2 fs-1">Postule !</h2>
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row px-4">
                    <div class="col-md-6">
                        {{ form_row(form.firstname) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.lastname) }}
                    </div>
                </div>
                <div class="col-12 px-4">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-12 px-4">
                    {{ form_row(form.resumes) }}
                </div>
                <div class="col-12 px-4">
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control be-form-input mb-4" rows="8" id="message" name="message" placeholder="Vous pouvez écrire un message personnalisé ici."></textarea>
                    </div>
                </div>
                <div class="text-center mb-4">
                    <button class="be-primary-button" type="submit">Postuler</button>
                </div>
             {{ form_end(form) }}
        </div>
    {% endif %}
</div>
    <div class="d-flex justify-content-center mt-3">
        <a class="be-secondary-button  w-auto " href="{{ path('app_joboffer_index') }}">Retour aux offres</a>
    </div>
{% endblock %}

