<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
        <script src="https://kit.fontawesome.com/b285d1d178.js" crossorigin="anonymous"></script>
        {# link fontawesome #}
        <script src="https://kit.fontawesome.com/db90ec0135.js" crossorigin="anonymous"></script>
        <title>
            {% block title %}Projet 3 Name{% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <main class="d-flex flex-column justify-content-between min-vh-100">
            {% include '_includes/sidebar.html.twig' %}
            {% include '_includes/navbar.html.twig' %}
            {% for category, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="col-lg-9 col-12 m-auto mb-md-5 my-5">
                {% block body %}{% endblock %}
            </div>
            {% include 'footer.html.twig' %}
        </main>
        <script src="/script/favlist.js"></script>
    <script>
        if(window.innerWidth > 835) {
            const stylenav = document.querySelector('.hidden-navbar');
            window.addEventListener("scroll", function () {
                let form = document.querySelector('.form-js').getBoundingClientRect().y;
                let nav = document.querySelector('.navbar-js').getBoundingClientRect().y;
                if (nav > form) {
                    stylenav.style.display = "initial";
                    console.log(document.querySelector('.form-js').getBoundingClientRect().y, window.scrollY);
                } else {
                    stylenav.style.display = "none";
                }
            });
        }
    </script>
    </body>
</html>
