<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
    <script src="https://kit.fontawesome.com/b285d1d178.js" crossorigin="anonymous"></script>
    {# link fontawesome #}
    <script src="https://kit.fontawesome.com/db90ec0135.js" crossorigin="anonymous"></script>
    <title>
        {% block title %}Projet 3 Name{% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body class="position-relative min-vh-100">

<body>
{% include '_includes/sidebar.html.twig' %}
{% include '_includes/navbar.html.twig' %}
{% for category, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<main class="col-lg-9 m-auto my-5">
    {% block body %}{% endblock %}
</main>
{% include 'footer.html.twig' %}

<script>
    function addToFavlist(event)
    {
        event.preventDefault();

        const favlistLink = event.currentTarget;
        const link = favlistLink.href;
        // Send an HTTP request with fetch to the URI defined in the href
        try {
            fetch(link)
                // Extract the JSON from the response
                .then(res => res.json())
                // Then update the icon
                .then(data => {
                    const favlistIcon = favlistLink.firstElementChild;
                    if (data.isInFavlist) {
                        favlistIcon.classList.remove("bi-bookmark-plus"); // Remove the .bi-heart (empty heart) from classes in <i> element
                        favlistIcon.classList.add("bi-bookmark-x-fill"); // Add the .bi-heart-fill (full heart) from classes in <i> element
                    } else {
                        favlistIcon.classList.remove("bi-bookmark-x-fill"); // Remove the .bi-heart-fill (full heart) from classes in <i> element
                        favlistIcon.classList.add("bi-bookmark-plus"); // Add the .bi-heart (empty heart) from classes in <i> element
                    }
                });
        } catch (err) {
            // eslint-disable-next-line no-console
            console.error(err);
        }
    }
</script>

</body>

</html>
