{% extends 'base.html.twig' %}

{% block title %}
    Favoris
{% endblock %}

{% block body %}
    <div class="d-flex m-4">
        <a class="be-secondary-button " href="{{ path('app_user_show', {'id': app.user.id} ) }}">Retour au profil</a>
    </div>
    <h2 class="be-h2 text-center">Mes <span>favoris</span></h2>
    {% if app.user.favlist is not empty%}
        <ul class="pe-4 ps-4">
            {% for fav in favlist %}
                <li style="list-style-type: none">
                    <div class="card be-joboffer-card-template mb-4 w-100 d-flex justify-content-center">
                        <div class="card-body">
                            <div class="row">
                                <h5 class="card-title text-secondary fs-6 col-md-11">{{ fav.company.name }}</h5>
                                <a class="col-md-1" id="favlist" onclick="addToFavlist(event)" href="{{ path('app_joboffer_favlist', {id: fav.id})}}">
                                    <i class=" fa-2x bi {{ app.user.isInFavlist(fav) ? 'bi-bookmark-x-fill' : 'bi-bookmark-plus' }}"></i>
                                </a>
                            </div>
                            <h5 class="card-title mb-3 fs-5">{{ fav.contract.type }} - {{ fav.title }}</h5>
                            <div class="d-flex flex-column-reverse">
                                <footer class="text-secondary fs-6">{{ fav.city }} / {{ fav.salary.min }}€ - {{ fav.salary.max }}€</footer>
                                <div class="d-flex flex-row justify-content-between">
                                    <footer class="text-secondary w-50 fs-6">Annonce postée le {{ fav.createdAt|date('d/m/Y') }}</footer>
                                    <a href="{{ path('app_joboffer_show', {id: fav.id}) }}" class="be-secondary-button w-15 fs-5">Voir l'offre</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="d-flex justify-content-center">
            <h1 class="text-center">Vous n'avez pas de favoris</h1>
        </div>
    {% endif %}
{% endblock %}
