{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

<<<<<<< HEAD
<h1>User index</h1>
=======
    <h1>Utilisateurs</h1>
>>>>>>> 1cbbc919bd1b2ce508c80d53b7864a12bb76fff8


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Mot de passe</th>
            <th>Prénom</th>
            <th>Nom de famille</th>
            <th>Anniversaire</th>
            <th>Ville</th>
            <th>Téléphone</th>
            <th>Statut</th>
            <th>Crée le</th>
            <th>Modifier le</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
            <td>{{ user.city }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.status }}</td>
            <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>
                <a href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
                <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="13">no records found</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>


<a href="{{ path('app_user_new') }}">Créer nouveau</a>
{% endblock %}
